<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>GDG</title>

    <link rel="stylesheet" href="bower_components/flat-ui/dist/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/flat-ui/dist/css/flat-ui.min.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>

<body ng-app="">


<div class="container">
    <h1 class="text-center">GDG - AngularJS
        <small>Na Prática</small>
    </h1>
    <div class="row">
        <span class="pull-left"><a href="index.html"><<1: Data binding</a></span>
        <span class="pull-right"><a href="3.html">3: ng-class >></a></span>
    </div>
    <h3>2: ng-model</h3>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h4>Checkbox</h4>
            <input type="checkbox" ng-model="trueFalse">
            <br>
            <div class="well">
                Checkbox retorna: <strong>{{trueFalse}}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 column">
            <div class="col-md-6 column">
                <h4>Texto</h4>
                <input class="form-control" placeholder="ex. Tiago Cedrim" ng-model="seuNome"/>
                <br/>

                <div class="well">
                    Você digitou : <strong>{{seuNome}}</strong>
                </div>

            </div>
            <div class="col-md-6 column">
                <h4>Número</h4>
                <input class="form-control" placeholder="ex. 11" ng-model="seuNumero"/>
                <br/>

                <div class="well">
                    O número ao quadrado é : <strong>{{seuNumero * seuNumero}}</strong>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 column">
        <h4>Select</h4>
        <select class="form-control" ng-model="selecionado">
            <option value="I">Primeiro</option>
            <option value="II">Segundo</option>
            <option value="III">Terceiro</option>
        </select>
        <br/>
        <span>Retorna o value</span>

        <div class="well">
            Você escolheu : <strong>{{selecionado}}</strong>
        </div>
    </div>

    <div class="col-md-12 column">
        <h4>Multi Select</h4>

        <div class="row">
            <select class="form-control" ng-model="opcao" multiple>
                <option value="I">Primeiro</option>
                <option value="II">Segundo</option>
                <option value="III">Terceiro</option>
                <option value="IV">Quarto</option>
            </select>
            <br/>
            <span>Retorna uma array</span>

            <div class="well">
                Você escolheu : <strong>{{opcao}}</strong>
            </div>

        </div>
    </div>
</div>
</div>


<!-- * scripts * -->

<!-- Libs -->
<script src="bower_components/angular/angular.min.js"></script>
</body>
</html>
