<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>GDG</title>

    <link rel="stylesheet" href="bower_components/flat-ui/dist/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/flat-ui/dist/css/flat-ui.min.css"/>
    <link rel="stylesheet" href="style.css"/>
</head>

<body ng-app="gdgApp">


<div class="container" ng-controller="Gdg5Controller">
    <h1 class="text-center">GDG - AngularJS
        <small>Na Prática</small>
    </h1>
    <div class="row">
        <span class="pull-left"><a href="4.html"><<4: Controller</a></span>
        <span class="pull-right"><a href="6.html">6: ng-repeat >></a></span>
    </div>
    <h3>5: ng-click</h3>
    <hr>

    <div class="row">
        <div class="col-md-12 column">
            <div>
                <img style="-webkit-transform: rotate({{angle}}deg); width: 300px; height: 300px" src="img/angularjs.png">
            </div>
            <button class="fui-triangle-left-large" ng-click="volta()"></button>
            <button class="fui-triangle-right-large" ng-click="vai()"></button>
        </div>
    </div>
</div>
</div>


<!-- * scripts * -->

<!-- Libs -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="app/gdg/gdg.controller.js"></script>
</body>
</html>
