body {
    background-color: #f4f6f8;
}

h1 small {
    color: #bdc3c7;
}

.pulsa {
    animation:pulse 1s infinite;
    -webkit-animation:pulse 1s infinite;
}

@keyframes pulse {
    0%      { transform:scale(1); }
    25%     { transform:scale(2); }
    75%     { transform:scale(1); }
}
@-webkit-keyframes pulse {
    0%      { -webkit-transform:scale(1); }
    25%     { -webkit-transform:scale(2); }
    75%     { -webkit-transform:scale(1); }
}

.cabeca_pra_baixo {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
